.contact-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 251px;
  margin: 6% 0%;
  &__header {
    background-color: black;
    color: white;
    text-align: center;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__body {
    text-align: center;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: black;
      text-decoration: none;
    }
  }
}
