@use "../../globals.scss" as *;

.our-services {
  @include desktop {
    display: none;
  }
  margin-top: 15%;
  h2 {
    font-size: 28px;
    padding: 0% 10%;
    margin-bottom: 5%;
  }
}
.our-services-desktop {
  margin-top: 10%;
  h2 {
    margin-left: 11%;
    margin-bottom: 5%;
  }
  .mantine-Carousel-indicators {
    bottom: -70px !important;
  }
  .slide-category {
    p {
      font-size: 28px;
    }
  }
  @include mobile {
    display: none;
  }
}
