@use "../../globals.scss" as *;

.about {
  position: relative;
  @include desktop {
    display: none;
  }
  &__stars {
    border-bottom: 1px solid black;
    width: 50%;
    height: 60px;
    svg {
      margin: 0% 5%;
    }
  }
  &__text {
    h1 {
      font-size: 32px;
      line-height: 35px;
      text-align: center;
      padding: 2% 10%;
      margin-top: 15%;
    }
    p {
      margin-top: 5%;
      width: 80%;
      text-align: center;
      font-size: 16px;
      line-height: 1.1rem;
    }
    button {
      margin-top: 19%;
      height: 49px;
      width: 255px;
    }
  }
  &__why-we-are {
    margin-bottom: 12%;
    h1 {
      align-self: flex-start;
      margin-top: 8%;
      padding: 2% 10%;
      font-size: 32px;
    }
    p {
      width: 80%;
      line-height: 1.5rem;
      &:last-of-type {
        margin-top: 4%;
      }
    }
  }
}

.about-desktop {
  position: relative;
  @include mobile {
    display: none;
  }
  .about__stars {
    height: 95px;
    align-self: flex-start;
    width: 22%;
    svg {
      position: relative;
      top: 15%;
      left: 13%;
      margin: 0% 10%;
    }
  }
  .mantine-Center-root {
    flex-direction: column;
    margin-bottom: 7%;
    p {
      margin-top: 2%;
      margin-bottom: 3%;
    }
    button {
      max-width: 336px;
      height: 53px;
    }
    :first-of-type {
      width: 60%;
      text-align: center;
    }
  }
  .mantine-SimpleGrid-root {
      .mantine-Center-root{
        h1{
          margin-top: 12%;
        }
        p{
          width: 70%;
          text-align: start;
          margin-left: 17%;
        }
      }
    }
}
