.mantine-Modal-body {
  background-color: black;
  nav {
    padding: 10% 5%;
    ul {
      list-style-type: none;
        li{
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
  }
}