@import "../../globals.scss";

.advantages {
  margin-top: 23%;
  padding: 0% 5%;
  @include desktop {
    display: none;
  }
  ul {
    list-style-type: "✦";
    padding-left: 10%;
    li {
      margin: 5% 0%;
      padding-left: 10px;
      line-height: 100%;
    }
  }
  h2 {
    align-self: flex-start;
    font-size: 28px;
    padding: 0% 5%;
  }
  p {
    margin-top: 5%;
    padding: 0% 5%;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 15%;
  }
  img {
    &:first-of-type {
      margin-bottom: 7%;
    }
  }
  button {
    margin: 15% 0%;
    width: 203px;
    height: 49px;
    &:last-of-type {
      height: 68px;
      width: 189px;
      text-align: center;
    }
  }
  h3 {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: normal;
    width: 70%;
    align-self: start;
    line-height: 100%;
    margin-bottom: 10%;
    height: 100%;
    &:last-of-type {
      padding: 0% 5%;
    }
  }
  .blockquote {
    padding: 10%;
    height: 291px;
    overflow: hidden;
    width: 100vw;
  }
}

.advantages-desktop {
  margin-top: 23%;
  @include mobile {
    display: none;
  }
  .mantine-SimpleGrid-root {
    &:last-of-type {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
    align-items: center;
    .mantine-Center-root {
      flex-direction: column;
    }
    .mantine-Container-root {
      display: flex;
      flex-direction: column;
    }
    h2 {
      margin-top: 10%;
      line-height: 50px;
    }
    h3 {
      font-weight: normal;
    }
    p {
      padding-bottom: 5%;
    }
    ul {
      list-style-type: "✦";
      padding-left: 3%;
      li {
        padding-left: 3%;
        margin: 5% 0%;
        font-size: 20px;
      }
    }
    button {
      margin-top: 5%;
      width: 80%;
      height: 53px;
      align-self: center;
      font-weight: bolder;
    }
  }
  .blockquote {
    height: 290px;
    overflow: hidden;
  }
  .rfm-marquee-container {
    margin: 1% 0%;
    font-size: 22px;
  }
}

.rfm-marquee-container {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 15px 0px;
  transition: all ease-in 0.2s;
  width: 100vw !important;
  height: 64px;
  margin: 5% 0%;
  &:hover {
    background-color: $burgundy;
    color: white;
  }
}
