@import '../../globals.scss';

.advantages {
  margin-top: 23%;
  ul {
    list-style-type: "✦";
    padding-left: 20px;
  }
  h2{
    font-size: 28px;
    padding: 0% 10%;
  }
  p{
    margin-top: 5%;
    padding: 0% 10%;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 15%;
  }
  img{
    padding: 0% 5%;
  }
}

.rfm-marquee-container {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 15px 0px;
  transition: all ease-in 0.2s;
  &:hover {
    background-color: $burgundy;
    color: white;
  }
}
