@use '../../../globals.scss' as *;

button{
    text-transform: uppercase;
    border: 1px solid black;
    &.black{
        background-color: black;
        color: white;
    }
    &.transparent{
        background-color: transparent;
        color: black;
        transition: all ease-in 0.2s;
        &:hover{
            border: 1px solid $burgundy;
            background-color: $burgundy;
            color: white
        }
    }
}