.header {
  &-logo {
    padding-top: 14%;
    padding-bottom: 9%;
    img {
      height: 106px;
      width: 165px;
    }
  }
  &-nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    gap: 11%;
    padding: 3% 0%;
    .mantine-Burger-burger {
      width: 32px;
      &::before {
        width: 32px;
      }
      &::after {
        width: 32px;
      }
    }
  }
}
