.feedback {
  &__text{
    margin-bottom: 18%;
    h1{
      margin-top: 15%;
      font-size: 32px;
    }
    p{
      width: 80%;
      text-align: center;
      font-size: 16px;
    }
  }
  &__field{
    h1{
      padding: 0% 10%;
      align-self: flex-start;
      margin-top: 10%;
      font-size: 32px;
    }
    p{
      margin-top: 10%;
      margin-bottom: 10%;
      width: 80%;
      
      font-size: 16px;
    }
    input{
      width: 80%;
      margin-bottom: 4%;
    }
    textarea{
      height: 180px;
      width: 80%;
    }
    button{
      margin-top: 5%;
      width: 256px;
      height: 53px;
      margin-bottom: 15%;
    }
  }
  .mantine-Paper-root {
    padding: 20% 0%;
    h3{
        margin: 15% 0%;
        text-align: start;
    }
  }
  .mantine-Carousel-controls {
    width: fit-content;
    top: 20vw;
    left: calc(var(--carousel-height) * 15);
    .mantine-Carousel-control {
      color: white;
      background-color: transparent;
      border: none;
      scale: 2;
    }
  }
}
