.feedback {
  .mantine-Paper-root {
    padding: 20% 0%;
    h3{
        margin: 15% 0%;
        text-align: start;
    }
  }
  .mantine-Carousel-controls {
    width: fit-content;
    top: 20vw;
    left: calc(var(--carousel-height) * 15);
    .mantine-Carousel-control {
      color: white;
      background-color: transparent;
      border: none;
      scale: 2;
    }
  }
}
